<div class="content">
    <div class="display-4"> <!-- Nome do método selecionado -->
      {{ methodNames[method-1] }} 
    </div>
    <p class="mt-3">  <!-- Botão para abrir ou fechar o menu de entrada de dados -->
      <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" 
      data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
      (click)="show()"> {{ collapseState ? "Abrir" : "Fechar" }} </button>
    </p>
    <div>
      <div class="card card-body" [collapse]="collapseState"> <!-- Componente para a entrada dos dados -->
          <app-input-functions [method]="method" (objectEvent)="ReceiveObject($event)" ></app-input-functions>
      </div>
    </div>

    <!-- Card para mostrar que há uma espera na entrada de dados -->
    <div class="mt-5" *ngIf="obj == null">
      <div class="card">
        <div class="card-body">
            <div class="display-4">
                Aguardando...
            </div>
        </div>
      </div>
    </div>

    <!-- Resultado -->
    <div class="mt-5">
        <div *ngIf="obj != null" class="card">
            <div class="card-header">
                <h4> Método {{ methodNames[method-1] }} </h4> 
            </div>
            <div class="card-body">
              <!-- Informações dos dados de entrada -->
              <div class="row">
                <div class="col-8">
                  <!-- Equação -->
                  <label for=""> Função objetivo</label>
                </div>
                <div class="col-2">
                  <label for=""> X inicial </label>
                </div>
                <div class="col-2">
                  <label for=""> Precisao (&epsilon;) </label>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                    <ng-katex [equation]="equation"> </ng-katex>
                </div>
                <div class="col-2">
                  <ng-katex [equation]="initialX"></ng-katex>
                </div>
                <div class="col-2">
                    <span *ngIf=" precision != ''"> &epsilon; = </span>{{ precision }}
                </div>
              </div>
              <!-- Resultados e iterações -->
              <div class="resultados">

              </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
  </div>