<p></p>
<p>
  Este trabalho utiliza Programação Não Linear de Multivariáveis Irrestritas para a resolução de métodos como: 
</p>
<ul>
	<li>Coordenadas Cíclicas;</li>
	<li>Hooke and Jeeves;</li>
	<li>Gradiente;</li>
	<li>Newton;</li>
	<li>Gradiente Conjugado Generalizado;</li>
	<li>Fletcher and Reeves;</li>
	<li>Davidon-Fletcher-Powell.</li>
 </ul>
 <p>
	Ele foi desenvolvido como parte da conclusão da disciplina de Pesquisa Operacional II ministrada pela professora Dr. Márcia A. Zanoli Meira e Silva.
 </p>
 <p></p>
 <p>
	Grupo integrante:
 </p>
  <ul>
	<li>Leonardo Silva de Oliveira (171025903)</li>
	<li>Pedro Henrique Nunes Barros (171022548)</li>
	<li>Tania Sanai Shimabukuro (171025717)</li>
 </ul>