<p></p>
<p>
  Este trabalho utiliza Programação Não Linear de Multivariáveis Irrestritas para a resolução de métodos como: 
</p>
<ul>
	<li>Coordenadas Cíclicas;</li>
	<li>Hooke and Jeeves;</li>
	<li>Gradiente;</li>
	<li>Newton;</li>
	<li>Gradiente Conjugado Generalizado;</li>
	<li>Fletcher and Reeves;</li>
	<li> <s> Davidon-Fletcher-Powell. </s> Método não concluido :/ </li>
 </ul>
 <p>
	Ele foi desenvolvido como parte da conclusão da disciplina de Pesquisa Operacional II ministrada pela professora Dr. Márcia A. Zanoli Meira e Silva.
 </p>
 <p></p>
 <p>
	Grupo integrante:
 </p>
  <ul>
	<li>Leonardo Silva de Oliveira (171025903)</li>
	<li>Pedro Henrique Nunes Barros (171022548)</li>
	<li>Tania Sanai Shimabukuro (171025717)</li>
 </ul>
 <p></p>
 <p>
	O software possui, em seu cabeçalho, uma barra de menu, onde é possível selecionar entre a página inicial (Home) e as páginas de métodos. Quando desejado ir para os métodos, aparecerá todas as opções citadas anteriormente. Dessa forma, o usuário seleciona o método que melhor o atender no momento.
 </p>
 <p>
	Em todos os métodos é necessário que o usuário complete corretamente todos os campos pedidos para que o cálculo seja concluído. Aparecerá, então, a tabela de iterações, mostrando os resultados do método por iteração e o resultado ótimo ao final junto com a quantidade de iterações necessárias para a convergência.
 </p>
 <p>
	Todos os cálculos são realizados com inúmeras casas decimais. Entretanto, para fins visuais foram apresentados nas tabelas apenas de 3 a 4 casas decimais.
 </p>