<div class="funcoes">

    <form action="" padding>
      <div class="row">
        <div class="col-4">
            <div class="form-group">
              <label> Digite a quantidade de variaveis: </label>
              <input type="number" min="0" max="5" class="form-control varInput" [(ngModel)]="quantVar" 
              [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="col-8">
          <h3> Função Objetivo </h3>
          <div class="form-group row">
              <label for="" class="col col-form-label"> Min: {{ variables }} </label>
              <div class="col">
                <input type="text" class="form-control inputFunc" [(ngModel)]="function" 
                [ngModelOptions]="{standalone: true}">                
              </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf=" errEpsi || errFunc || errVari ">
        <div class="col">
            <div class="alert alert-danger" *ngIf=" errFunc" > Função incompativel </div>
            <div class="alert alert-warning" *ngIf=" errVari" > Variaveis digitadas incompativeis </div>
            <div class="alert alert-warning" *ngIf=" errEpsi " > Digite um &epsilon; </div>
        </div>
      </div>
        <div style="width: 100%;" *ngIf="quantVar != 0">
          <div class="row">
            <div class="col">
                <h6 > Valor inicial do X: </h6>
                <div class="form-row">
                    <div class="ml-2" *ngFor="let item of createRange(quantVar)">
                        <input type="number" placeholder="X{{item}}" value="0" class="form-control valorX" 
                        [(ngModel)]="startX[item]" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </div>
            <div class="col" *ngIf="method == 5 ">
              <h6 > Q: </h6>
              <div class="form-row">
                  <div class="ml-2" *ngFor="let item of createRange(quantVar)">
                      <div class="ml-2" *ngFor="let item2 of createRange(quantVar)">
                        <input type="number" placeholder="[{{item}},{{item2}}]" value="0" class="form-control valorX" 
                        [(ngModel)]="q[item*quantVar + item2]" [ngModelOptions]="{standalone: true}">
                      </div>
                  </div>
              </div>
          </div>
          <div class="col"*ngIf="method == 5 ">
            <h6 > b </h6>
            <div class="form-row">
                <div class="ml-2" *ngFor="let item of createRange(quantVar)">
                    <input type="number" placeholder="{{item}}" value="0" class="form-control valorX" 
                    [(ngModel)]="b[item]" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
        </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
                <label for=""> Precisão (&epsilon;): </label>
                <input type="number" class="form-control" 
                [(ngModel)]="pre" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-8">
                <button class="btn btn-dark btn-block calc" (click)="SendObject()" 
                [disabled]="function == ''" > Calcular </button>
            </div>
          </div>
        </div>   
    </form>
</div>